html,
body {
  padding: 0;
  margin: 0;
  background-color: #f5eeff;
  box-sizing: border-box;
  font-size: 62.5%;
}

.main-div {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#divider {
  width: 55vw;
  height: 0.1rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.15);
}

#header {
  position: relative;
  animation: 1s slide-down;
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  cursor: pointer;
}

#header:hover {
  font-size: 4rem;
}

@keyframes slide-down {
  from {
    top: -15rem;
  }
  to {
    top: 0rem;
  }
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70rem;
  height: 90%;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  width: 20rem;
  height: 30rem;
  margin: 2rem;
  background-color: white;
  -webkit-box-shadow: 0.1rem 0.1rem 1rem -0.05rem rgba(0, 0, 0, 0.5);
  box-shadow: 0.1rem 0.1rem 1rem -0.05rem rgba(0, 0, 0, 0.5);
  animation: 0.5s slide-in, 2.5s brigthen;
}

@keyframes slide-in {
  from {
    margin-left: 100%;
  }
  to {
    margin-top: 0%;
  }
}

@keyframes brigthen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.grid-item:hover {
  -webkit-box-shadow: 0.1rem 0.1rem 2rem -0.5rem rgba(0, 0, 0, 0.5);
  box-shadow: 0.1rem 0.1rem 2rem -0.5rem rgba(0, 0, 0, 0.5);
}

.grid-container {
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
}

.thumbnail-spongebob {
  margin: 0.5rem;
  display: flex;
  border-radius: 1rem;
  height: 80%;
  width: 95%;
  -webkit-box-shadow: inset 0.1rem 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0.1rem 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.5);
  background-image: url(./spongebob.JPG);
  background-size: cover;
}
.thumbnail-spongebob:hover {
  box-shadow: inset 0.1rem 0.1rem 3rem -0.5rem rgb(255, 255, 255);
}

.thumbnail-sad-scarjo {
  margin: 0.5rem;
  display: flex;
  border-radius: 1rem;
  height: 80%;
  width: 95%;
  -webkit-box-shadow: inset 0.1rem 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0.1rem 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.5);
  background-image: url(./sad-scarjo.JPG);
  background-size: cover;
}

.thumbnail-arthur {
  margin: 0.5rem;
  display: flex;
  border-radius: 1rem;
  height: 80%;
  width: 95%;
  -webkit-box-shadow: inset 0.1rem 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0.1rem 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.5);
  background-image: url(./arthur.jpg);
  background-size: 22rem 25rem;
}

.thumbnail-dog {
  margin: 0.5rem;
  display: flex;
  border-radius: 1rem;
  height: 80%;
  width: 95%;
  -webkit-box-shadow: inset 0.1rem 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0.1rem 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.5);
  background-image: url(./dog.JPG);
  background-size: 19rem 25rem;
}

.thumbnail-simpson {
  margin: 0.5rem;
  display: flex;
  border-radius: 1rem;
  height: 80%;
  width: 95%;
  -webkit-box-shadow: inset 0.1rem 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0.1rem 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.5);
  background-image: url(./simpson.jpg);
  background-size: cover;
}

.thumbnail-shrek {
  margin: 0.5rem;
  display: flex;
  border-radius: 1rem;
  height: 80%;
  width: 95%;
  -webkit-box-shadow: inset 0.1rem 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0.1rem 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.5);
  background-image: url(./shrek.JPG);
  background-size: 19rem 25rem;
}

.thumbnail-gibby {
  margin: 0.5rem;
  display: flex;
  border-radius: 1rem;
  height: 80%;
  width: 95%;
  -webkit-box-shadow: inset 0.1rem 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0.1rem 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.5);
  background-image: url(./gibby.JPG);
  background-size: cover;
}

.thumbnail-dababy {
  margin: 0.5rem;
  display: flex;
  border-radius: 1rem;
  height: 80%;
  width: 95%;
  -webkit-box-shadow: inset 0.1rem 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0.1rem 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.5);
  background-image: url(./dababy.JPG);
  background-size: cover;
}

.thumbnail-lois {
  margin: 0.5rem;
  display: flex;
  border-radius: 1rem;
  height: 80%;
  width: 95%;
  -webkit-box-shadow: inset 0.1rem 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0.1rem 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.5);
  background-image: url(./lois.JPG);
  background-size: cover;
}

.thumbnail-lois:hover {
  transform: scaleX(-1);
}

.caption {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  text-align: center;
}

.caption:hover {
  font-style: oblique;
}

@media screen and (max-width: 600px) {
  .grid-item {
    height: 19rem;
    margin: 1.5rem 3rem;
  }
  .caption {
    font-size: 1rem;
  }
  .grid-container {
    flex-direction: column;
  }
  .grid-item {
    flex-direction: column;
  }
}

@media screen and (max-width: 950px) {
  .caption {
    font-size: 1rem;
  }
  .grid-container {
    flex-direction: column;
  }
  .grid-item {
    flex-direction: column;
    align-items: center;
    margin: 1rem 2rem;
  }
  #header {
    font-size: 2rem;
  }
